# This file is automatically managed by enkore
# DO NOT ADD ENTRIES HERE, THEY WILL BE REMOVED
/src/Dependencies.ts
/src/DependenciesSync.ts
/src/FunctionState.ts
/src/FunctionStateSync.ts
/src/ScandirCallbackOptions.ts
/src/ScandirSyncCallbackOptions.ts
/src/ScandirCommonOptions.ts
/src/ScandirSyncCommonOptions.ts
/src/ScandirMappedOptions.ts
/src/ScandirSyncMappedOptions.ts
/src/ScandirOptions.ts
/src/ScandirSyncOptions.ts
/src/getOptions.ts
/src/getOptionsSync.ts
/src/internalImplementation.ts
/src/internalImplementationSync.ts
/src/scandir.ts
/src/scandirSync.ts
/src/scandirCallback.ts
/src/scandirSyncCallback.ts
/src/scandirExt.ts
/src/scandirSyncExt.ts
/src/scandirMapped.ts
/src/scandirSyncMapped.ts
/src/validateInputOptions.ts
/src/validateSyncInputOptions.ts
/export/scandirFactory.ts
/export/scandir.ts
/export/scandirSyncFactory.ts
/export/scandirSync.ts
/export/scandirExtFactory.ts
/export/scandirExt.ts
/export/scandirSyncExtFactory.ts
/export/scandirSyncExt.ts
/export/scandirCallbackFactory.ts
/export/scandirCallback.ts
/export/scandirSyncCallbackFactory.ts
/export/scandirSyncCallback.ts
/export/scandirMappedFactory.ts
/export/scandirMapped.ts
/export/scandirSyncMappedFactory.ts
/export/scandirSyncMapped.ts
