# This file is automatically managed by enkore
# DO NOT ADD ENTRIES HERE, THEY WILL BE REMOVED
/src/Dependencies.ts
/src/DependenciesSync.ts
/src/ScandirCallbackOptions.ts
/src/ScandirSyncCallbackOptions.ts
/src/ScandirCommonOptions.ts
/src/ScandirSyncCommonOptions.ts
/src/ScandirMappedOptions.ts
/src/ScandirSyncMappedOptions.ts
/src/ScandirOptions.ts
/src/ScandirSyncOptions.ts
