# This file is automatically managed by enkore
# DO NOT ADD ENTRIES HERE, THEY WILL BE REMOVED
/src/ScandirBaseOptions.ts
/src/ScandirSyncBaseOptions.ts
/src/ScandirCallbackOptions.ts
/src/ScandirSyncCallbackOptions.ts
